[submodule "themes/chaosnetz/static/dist/groundwork"]
	path = themes/chaosnetz/static/dist/groundwork
	url = https://github.com/groundworkcss/groundwork.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
