---
layout: default
---

<div class="home">

{% include c4-logo-transparent.html %}

<h2>Projekt: ChaosNetz</h2>

<p>Wir sind eine Initiative des Kölner Chaos Computer Clubs. </p>

<p>Unser Ziel ist, Menschen zu befähigen digitale Infrastruktur zu benutzen, indem wir sie aufbauen, erweitern und Wissen darüber vermitteln.</p>

<p>Das ChaosNetz vernetzt soziala Räume wie beispielsweise Flüchtlingsunterkünfte.</p>

<p>Wir helfen Dir gerne weiter, wenn Du Infrastruktur benötigst oder bauen möchtest. Melde Dich einfach bei uns:</p>

<p>
 E-Mail: <a href="mailto:netz@koeln.ccc.de">netz@koeln.ccc.de</a><br />
 Telefon: <a href="tel+4922167783965">0221-67783965</a>
</p>
<!--  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
-->
</div>
