doctype html
html
  head
    title Projekt: ChaosNetz
    meta charset="utf-8"
    meta (
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no" )
    link (
      rel="stylesheet"
      href="/theme/css/screen.css"
      media="screen, projection" )

  body
    .row.header
      h1 Projekt: ChaosNetz
    .row.content
      .one.third.leftrow
        a href="/index.html"
          img#logo src="/theme/images/c4-logo_transparent.svg"
      #text.two.thirds
        ${page.content}
      #contact.one.third.leftrow
        div
          h2 ChaosNetz
          p
            a href="/pages/impressum.html" Impressum & Datenschutzerklärung
          p
            a href="mailto:netz@koeln.ccc.de" netz@koeln.ccc.de
          p
            a href="https://github.com/cccc" target="_blank" cccc
          p
            a href="https://twitter.com/ccc_koeln" target="_blank" ccc_koeln


    //script src="http://localhost:35729/livereload.js?snipver=1"
