doctype html
html
  head
    title Projekt: ChasoNetz
    meta charset="utf-8"
    meta (
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no" )
    link (
      rel="stylesheet"
      href="theme/css/screen.css"
      media="screen, projection" )
    link (
      href="https://fonts.googleapis.com/css?family=Special+Elite"
      rel="stylesheet"
      type="text/css" )

  body
    .row.header
      h1 Projekt: ChaosNetz
    .row.content
      .one.third.leftrow
        img#logo src="theme/images/c4-logo_transparent.svg"

      #text.two.thirds
        h2 Über
        p Wir sind eine Initiative des Kölner Chaos Computer Clubs.
        p Unser Ziel ist, Menschen zu befähigen digitale Infrastruktur zu benutzen, indem wir sie aufbauen, erweitern und Wissen darüber vermitteln.
        p Das ChaosNetz vernetzt Projekte und soziale Räume wie beispielsweise Flüchtlingsunterkünfte.
        p Wir helfen Dir gerne weiter, wenn Du Infrastruktur benötigst oder bauen möchtest. Melde Dich einfach bei uns:
        p E-Mail: netz@koeln.ccc.de
        p Telefon: 0221-67783965
        p Oder komm einfach in unseren Hackerspace. 
        
        h2 Impressum
        

        p
          | Projekt ChaosNetz
          br
          | https://chaosnetz.org
          br
          | netz@koeln.ccc.de
          br
          | +49 221 67783965
        p 
          | Chaos Computer Club Cologne (C4) e.V.
          br
          | Heliosstr. 6a
          br
          | 50825 Köln
          br
          | https://koeln.ccc.de
          br
          | https://koeln.ccc.de/impressum/index.xml

        
      #contact.one.third.leftrow
        div
          h2 ChaosNetz
          p
            a href="mailto:netz@koeln.ccc.de" netz@koeln.ccc.de
          p
            a href="https://github.com/cccc" cccc
          p
            a href="https://twitter.com/ccc_koeln" ccc_koeln

    
    script src="http://localhost:35729/livereload.js?snipver=1"

    / script (
    /   type="text/javascript"
    /   src="theme/dist/groundwork/js/libs/jquery-1.10.2.min.js" )
    //script (
    //  type="text/javascript"
    //  src="/assets/dist/groundwork/js/groundwork.all.js" )
    / script (
    /   type="text/javascript"
    /   src="theme/js/main.js" )
