doctype html
html
  head
    title Slim Examples
    meta charset="utf-8"
    meta (
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no" )
    link (
      rel="stylesheet"
      href="assets/styles/screen.css"
      media="screen, projection" )
    link (
      href="https://fonts.googleapis.com/css?family=Special+Elite"
      rel="stylesheet"
      type="text/css" )

  body
    .row.header
      h1 Projekt: ChaosNetz
    .row.content
      .one.third.leftrow
        img#logo src="assets/images/c4-logo_transparent.svg"

      .two.thirds#text
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
        p contenttext
      .one.third.leftrow#contact
        div
          h2 ChaosNetz
          p
            i.icon-envelope
            | netz@koeln.ccc.de
          p
            i.icon-github 
            | ccc
          p
            i.icon-twitter 
            | ccc_koeln
    
              

              
              



    
    script src="http://localhost:35729/livereload.js?snipver=1"

    script (
      type="text/javascript"
      src="assets/dist/groundwork/js/libs/jquery-1.10.2.min.js" )
    //script (
    //  type="text/javascript"
    //  src="/assets/dist/groundwork/js/groundwork.all.js" )
    script (
      type="text/javascript"
      src="assets/js/main.js" )
